.card{
    padding: 54px 0;
    // display: flex;
    // column-gap: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;

    @include mobile{
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        gap: 20px 16px;
    }
 


    &__row{
        
        width: 270px;
        border: 2px $border-card solid;
        border-radius: 5px;
        transition:  background-color 0.3s ease-in,color 0.3s ease-in;

        @include mobile{
            width: 100%;
        }

        
        


        &:hover{
            background-color: #3172B9;

        .card__title, 
        .card__descr{
            color: $white ;
        }

        .card__logo svg path{
            fill: $white;
        }

        }

    }

    &__logo{
        padding-top: 61px;
        padding-bottom: 27px;
        transition: fill 0.1s ease-in ;

    }

    &__title{
        margin: 0;
        color: $main-color;
        font-size: 20px;
        font-weight: $secondary-semibold;
        padding-bottom: 15px;
        transition: color 0.3s ease-in ;

        @include mobile{
            font-size: 16px;
        }
    }


    .mobile-br{
        display: none;

        @include mobile{
            display: inline;
        }
    }

    &__descr{
        color: $accent-color;
        font-size: 14px;
        font-weight:$text-regular;
        padding:0 30px;
        padding-bottom: 61px;
        transition:  color 0.3s ease-in ;

        @include mobile{
            padding: 0 10px 30px;
            font-size: 12px;
        }
    

    }


    // &__articles{

    //     border: 2px $border-card solid;
    //     border-radius: 5px;
    // }

}