.form{
    padding-left: 55px;
    padding-right: 55px;

    @include mobile {
    padding: 0px;
  }


    &__top{
        display: flex;
        justify-content: space-between;
        margin-bottom: 19px;

        @include mobile{
            
            display: block;
        }

     // Left side
        &-left{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 49%;

     @include mobile {
        width: 100%;
      }
          
            &-input{
                margin-bottom: 19px;
                @include form-input-select;

          
            }

            &-select{
                @include form-input-select;

                 @include mobile {
          width: 100%;
          max-width: 100%;
        }
            }

        }

          // Right side
      &-right{
        width: 49%;


@include mobile {
        width: 100%;
      }


        &-textarea{
        border: 1px solid $border-color;
        border-radius: 20px;
        padding: 16px 28px;
        width: 100%;
        height: 105px;
        resize: none;

         @include mobile {
            width: 80%;
          margin-top: 19px;
        }
        }
      }
    }

    &__bottom{
        display: flex;
        justify-content: flex-end;

        

         @include mobile {
      justify-content: center;
    }



        &-wrapper{
            display:flex;
            flex-direction: column;
            align-items: center;
        }

        &-check{
            font-size: 12px;
            color: $accent-color;
            font-weight: $text-regular;
            line-height: 16px

        
        }

        &-check a{

            color: #3172B9;
            border-bottom:1px solid #3172B9; 

        }

    }

    &__btn{
        @include website-button(50px,20px 67px);
        margin-bottom:9px;
        // flex-shrink: 0;

         @include mobile {
    @include website-button(50px,20px 96px);

     white-space: nowrap; /* И на мобильной версии тоже */
    }

        
    }

    

}