.services{
    padding: 80px 0px;
    // text-align: center;
    border-bottom: 2px $border-color solid;

    @include mobile{
        border-bottom: 2px $border-color solid;
        width: 100%;
    }


&__content{
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile{
        align-items: flex-start;
        padding: 0 16px;
    }
}
   


    &__title{
        margin: 0;
        color: $main-color;
        font-weight: $title-light;
        font-size: 36px;
        margin-bottom: 21px;

    }

    
        
    &__descr{
        color: $accent-color  ;
        font-size: 16px;
        font-weight: $text-regular;

        @include mobile{
            line-height: 150%;
        }
    }

}