@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Open Sans", sans-serif;
}


.container{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
}

a{
    text-decoration: none;

}

.visible{
    display: none;
}