// Color

$main-color:#1C1C1C;
$accent-color:#787878;
$white:#fff;
$border-color:#DADADA;
$border-card:#E4E4E4;


// Font-weight

$title-light:300;
$secondary-semibold:600;
$text-regular:400;

// Media

$mobileWidth:320px;